name: build-rpi

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchains
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi binutils-arm-none-eabi clang

      - name: Clang syntax-check USB/HID/keyboard assembly
        run: |
          clang -c -x assembler-with-cpp -target armv6-none-eabi -I. hid.S -o hid.clang.o
          clang -c -x assembler-with-cpp -target armv6-none-eabi -I. keyboard.S -o keyboard.clang.o
          clang -c -x assembler-with-cpp -target armv6-none-eabi -I. usb.S -o usb.clang.o

      - name: Build Raspberry Pi kernel artifacts (GNU Arm toolchain)
        run: |
          arm-none-eabi-gcc -c -x assembler-with-cpp -I. -mcpu=arm1176jzf-s -marm kernel.S -o kernel.o
          arm-none-eabi-gcc -c -x assembler-with-cpp -I. -mcpu=arm1176jzf-s -marm hid.S -o hid.o
          arm-none-eabi-gcc -c -x assembler-with-cpp -I. -mcpu=arm1176jzf-s -marm keyboard.S -o keyboard.o
          arm-none-eabi-gcc -c -x assembler-with-cpp -I. -mcpu=arm1176jzf-s -marm usb.S -o usb.o
          arm-none-eabi-ld -T kernel.ld -nostdlib kernel.o hid.o keyboard.o usb.o -o kernel.elf
          arm-none-eabi-objcopy -O binary kernel.elf kernel.img

      - name: Upload Raspberry Pi test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rpi-kernel-artifacts
          path: |
            kernel.elf
            kernel.img
            kernel.o
            hid.o
            keyboard.o
            usb.o
